.CardSectionComponent{
    min-width: 24vw ;
    background: rgba(238, 242, 245, 1);
    height: 74vh;
    border-radius: 20px;
}
.HeaderOuter{
    display: flex;
    justify-content: center;
}
.Header{
    margin-top: 2vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HeaderToDo{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
.CardSectionComponentBody{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}
.fullToDo{  
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
