.card {
    width: 21vw;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-right: 10px;
    margin-left: 8px;
}

.EachToDo {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 19vw;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.prorityBox {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prioritytext {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: rgba(112, 112, 112, 1);
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 54px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.title:hover {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 112px;
    overflow: visible;
}

.checklist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opt {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(226, 226, 226, 1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.opt input {
    margin-right: 8px;
    /* Adjust spacing between checkbox and text */
}

.opt span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 34px;
    overflow: hidden;
    transition: -webkit-line-clamp 0.3s ease;
}

.opt:hover span {
    -webkit-line-clamp: 4;
    /* Show up to 4 lines on hover */
    max-height: 80px;
    /* Unset max-height on hover to show all lines */
}

.opt input {
    border: 2px solid rgba(226, 226, 226, 1);
    height: 16px;
    width: 16px;
    border-radius: 8px;
}

/* 
.opt input:checked + span::before {
    background-color: rgba(23, 162, 184, 1) !important; 
    border-color: rgba(23, 162, 184, 1) !important;
}
 */

.opt input:hover {
    cursor: pointer;
    scale: 1.1;
    opacity: 0.8;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

.sec_2 {
    display: flex;
    gap: 0.5vw;
}

.sec_2 span {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: rgba(118, 117, 117, 1);
    height: 4vh;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    background: rgba(238, 236, 236, 1);
}

.dueDate {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: rgba(90, 90, 90, 1);
    height: 4vh;
    padding-top: 2px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 14px;
    background: rgba(219, 219, 219, 1);
}

.moreContainer {
    position: relative;
}

.optionsAll {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 22px 0px rgba(126, 122, 122, 0.25);
    height: 16vh;
    width: 9vw;
    display: flex;
    padding-left: 1vw;
    gap: 1vh;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    right: 0px;
}

.optionsAll div {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
}

.optionsAll div:hover {
    cursor: pointer;
    color: rgba(207, 54, 54, 1);
}

.filter:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 1.1;
}

.sectionButton:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 1.1;
}

.hover:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 1.1;
}

.shareToast {
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid rgba(72, 193, 181, 1);
    box-shadow: 0px 4px 16px 0px rgba(16, 11, 39, 0.08);
}

.checklistContent{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
  