.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 40vw;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalInnerContent {
    position: relative;
    width: 90%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textBox {
    width: 100%;
}

.textBox div {
    display: flex;
    gap: 0.3vw;
}

.textBox input {
    margin-top: 1vh;
    padding-left: 1vw;
    width: 97%;
    height: 5vh;
    box-shadow: 0px 1px 2px 0px rgba(77, 64, 85, 0.1);
    border-radius: 4px;
    border: 1px solid rgba(226, 226, 226, 1);
    color: rgba(155, 149, 159, 1);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    outline: none;
}

.field {
    color: rgba(32, 16, 43, 1);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.req {
    color: rgba(255, 0, 0, 1);
}

.priorityBox {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priorityBox_0 {
    display: flex;
    gap: 0.3vw;
}

.eachPrority {
    display: flex;
    align-items: center;
    gap: 0.2vw;
    border: 1px solid rgba(226, 226, 226, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding: 6px;
    border-radius: 10px;
    color: rgba(118, 117, 117, 1);
}
.eachPrority:hover{
    cursor: pointer;
    opacity: 0.8;
}

.checklist {
    margin-top: 2vh;
}

.checklist_0 {
    display: flex;
    gap: 0.3vw;
}

.addOpt {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(118, 117, 117, 1);
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-top: 1.5vh;
    padding-left: 0.5vw;
}
.addOpt:hover{
    opacity: 0.8;
    cursor: pointer;
}
.optContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    max-height: 17vh;
    overflow-y: auto;
    margin-top: 1.5vh;
}

.eachOption {
    display: flex;
    align-items: center;
    border: 1px solid rgba(226, 226, 226, 1);
    border-radius: 10px;
    height: 5vh;
}
.eachOption img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.textOptBox {
    height: 3vh;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(130, 130, 130, 1);
    border: none;
    outline: none;
}

.checkbox {
    width: 2.5vw;
    height: 2.5vh;
    border: 2px solid rgba(226, 226, 226, 1);
    border-radius: 6px;
}
.checkbox:hover{
    opacity: 0.8;
    cursor: pointer;
}
.optContainer img {
    margin-right: 0.5vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}

.date button{
    color: rgba(112, 112, 112, 1);
    width: 10vw;
    height: 5vh;
    border: 1px solid rgba(226, 226, 226, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.date button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.btns {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.btnCancel:hover{
    opacity: 0.8;
    cursor: pointer;
}

.btnCancel {
    color: rgba(207, 54, 54, 1);
    width: 8vw;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    height: 5vh;
    border: 1px solid rgba(207, 54, 54, 1);
    box-shadow: 0px 2px 12px 0px rgba(130, 105, 140, 0.2);
}
.btnSave:hover{
    opacity: 0.8;
    cursor: pointer;
}
.btnSave {
    color: rgba(255, 255, 255, 1);
    width: 8vw;
    border-radius: 10px;
    height: 5vh;
    background: rgba(23, 162, 184, 1);
    box-shadow: 0px 2px 12px 0px rgba(130, 105, 140, 0.2);
    border: none;
}

/* Update styles for the calendar container */
.react-calendar,
.react-calendar__tile {
  border: none;
}
.reactCalendar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    border-radius: 12px;
    padding: 6px;
    box-shadow: 0px 12px 22px 0px rgba(38, 36, 36, 0.25);
    width: 20vw;
  }
  
  /* Add styles for the buttons at the bottom of the calendar */
  .calendarButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
    color: rgba(23, 162, 184, 1);
  }

  .selected {
    background-color: rgba(238, 236, 236, 1);
  }

  